p(align="center")
  a(href="https://xxai.art")
    img(src="https://cdn.jsdelivr.net/gh/xxai-art/doc/logo.svg")
  br
  a(href="https://xxai.art")
    img(src="https://cdn.jsdelivr.net/gh/xxai-art/doc/xxai.svg")
p(align="center")
  a(href="https://groups.google.com/u/0/g/xxai-art")
    img(
      alt="Google Groups"
      src="https://cdn.jsdelivr.net/gh/wactax/img/g-groups.svg"
    )
